/* Navigation bar and Mobile Navigation bar */

#site-header {
  height: 3.75rem;
  width: 100%;
  background-color: var(--fill);
  position: fixed;
  z-index: 20;
}

#site-header ul {
  column-gap: 1.875rem;
}

#mobile-nav-button {
  display: none;
}

/* แสดง ปุ่มเปิดปิด mobile navigation และ ซ้อน navigation สำหรับ desktop  */
@media (max-width: 734px) {
  #mobile-nav-button {
    display: block;
  }
  #site-header ul {
    display: none;
  }
}

/* ซ้อน mobile navigation เมื่อเปิดในอุปกรณ์ที่ขนาดมากกว่า 735px  */
@media (min-width: 735px) {
  #mobile-nav {
    opacity: 0;
    visibility: hidden;
  }
}

#mobile-nav {
  flex-direction: column;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.2s, visibility 0.2s;
}

/* ซ้อน mobile navigation เมื่อเปิดหน้าเว็บครั้งแรก  */
#mobile-nav.hidden {
  opacity: 0;
  visibility: hidden;
}

.mobile-nav-content {
  background: #fff;
}

.mobile-nav-content nav {
  flex-direction: column;
  padding-top: 5.25rem;
  padding-bottom: 1.5rem;
  row-gap: 1.5rem;
  width: 100%;
}

/* Hero Section */

/* clamp(37.5rem, 7vw, 46.25rem) คือการหนดให้มีค่าเท่ากับ 7vw (viewport width) โดยค่าต่ำสุดที่เป็นไปได้คือ 37.5rem และค่าสูงสุดที่เป็นไปได้คือ 46.25rem  */
.hero-section {
  width: 100%;
  height: clamp(37.5rem, 7vw, 46.25rem);
  position: relative;
  align-items: center;
}

.hero-section .section-header-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.hero-section .section-header-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.hero-section .section-content {
  position: relative;
  z-index: 1;
  color: #fff;
}

.hero-section .headline-section {
  font-size: clamp(3rem, 7vw, 6rem);
  line-height: 1;
  margin: 1.25rem 0;
  letter-spacing: -0.125rem;
}
.hero-section .intro-copy {
  font-size: clamp(1.25rem, 2.325vw, 1.75rem);
  font-weight: 600;
  letter-spacing: -0.0313rem;
}

/* Main Content Section */
.copy-block-copy {
  font-size: 1.1875rem;
  color: var(--fill-gray-tertiary);
}

.copy-block-copy .footnote-number a {
  color: var(--fill-gray-tertiary);
}
/* Telescopes Section */

.telescopes-copy {
  column-gap: 5rem;
}

/* กำหนดให้ขนาดความกว้างขั้นต่ำของ text desc ในส่วน telescopes section เท่ากับ 41rem เมื่อค่าต่ำกว่าที่กำหนด flex container จะทำการ wrap  */
/* flex: 1 1 41; มีค่าเท่ากับ flex-grow: 1; flex-shrink: 1; แล้ว flex-basis: 41rem; */

.telescopes-copy > div {
  flex: 1 1 32rem;
}

.hero-bgimage-wrapper {
  margin-bottom: 3rem;
}

.badge-container {
  margin-top: 3rem;
  gap: 3rem 5rem;
}

.badge-content {
  flex-direction: column;
}

.badge-content .badge-value {
  font-weight: bold;
  font-size: clamp(2.5rem, 5vw, 3.75rem);
}

.badge-content > .badge-caption {
  color: var(--fill-accent);
  font-weight: 600;
  font-size: 1.3125rem;
}

/* Hi-res Section */

.section-features {
  flex-direction: column;
  row-gap: 5rem;
}

.hires-imaging {
  flex-direction: row-reverse;
  gap: 3rem;
}

/* กำหนดให้ขนาดความกว้างขั้นต่ำของ text ในส่วน hires section เท่ากับ 21rem เมื่อค่าต่ำกว่าที่กำหนด flex container จะทำการ wrap  */

.hires-imaging .copy-block-feature {
  flex: 1 1 21rem;
}

.hires-imaging .picture-container {
  max-width: 25rem;
}

picture.sensors img {
  border-radius: 9999px;
}

@media (max-width: 734px) {
  picture.sensors img {
    border-radius: 0;
  }
}

/* Communication Networks Section */

.networks {
  gap: 3rem;
}

.networks .picture-container {
  max-width: 25rem;
}

/* กำหนดให้ขนาดความกว้างขั้นต่ำของ text ในส่วน networks section เท่ากับ 21rem เมื่อค่าต่ำกว่าที่กำหนด flex container จะทำการ wrap  */
.networks .copy-block-feature {
  flex: 1 1 21rem;
}

/* Navigation Section */

/* กำหนดใน section มีความกว้างแล้วสูงเท่ากัน */
.navigation {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  margin-bottom: 5rem;
}

/* กำหนดให้ส่วน text navigation section อยู่ในตำแหน่งล้างซ้าย โดยอ้างอิงตำแหน่งจาก .navigation  */
.navigation .copy-block-feature {
  position: absolute;
  bottom: 4rem;
  max-width: 42ch;
}

/* กำหนดให้ส่วน text navigation section แสดงผลเป็นแบบ block ปกติ */
@media (max-width: 734px) {
  .navigation .copy-block-feature {
    position: static;
  }
}

/* cta section */

.cta {
  width: 100%;
  text-align: center;
  background: #fff;
  color: var(--fill-gray);
  padding: 6.25rem 0;
}

.cta .typography-headline {
  font-weight: bold;
  font-size: clamp(3rem, 5vw, 5rem);
  word-wrap: break-word;
  line-height: 1;
  margin: 1.5rem 0 2.5rem 0;
  letter-spacing: -0.125rem;
}

.cta .button-cta {
  margin: 3.75rem auto;
  width: fit-content;
}

.cta .copy-block-paragraph,
.cta .typography-title {
  letter-spacing: -0.0156rem;
}

/* Footer */

footer {
  padding: 2.5rem 0;
  font-size: 0.875rem;
  background: var(--fill-secondary);
  color: var(--glyph-gray-secondary);
}

footer .footer-legal {
  padding-top: 1.25rem;
  border-top: 1px solid var(--fill-gray-quaternary);
}

footer ol {
  margin: 1.25rem 0;
  padding-left: 1rem;
}

/* Global */

.copy-block-headline,
.subsection-headline {
  margin-bottom: 1.25rem;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: -0.0219rem;
}

/* จัดให้รูปอยู่กึ่งกลาง */

.picture-container {
  width: 100%;
  margin: 0 auto;
}
