/* Navigation bar */

#site-header {
  height: 3.75rem;
  background-color: var(--fill);
}

#site-header ul {
  column-gap: 2rem;
}

#mobile-nav-button {
  display: none;
}

@media (max-width: 734px) {
  #mobile-nav-button {
    display: block;
  }
  #site-header ul {
    display: none;
  }
}

/* Hero Section */

.hero-section {
  width: 100%;
  height: 80vh;
  position: relative;
  align-items: center;
}

.hero-section .section-header-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.hero-section .section-header-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.hero-section .section-content {
  position: relative;
  z-index: 1;
  color: #fff;
}

.hero-section .headline-section {
  font-size: clamp(3rem, 5vw, 6rem);
  line-height: 1;
  margin: 1.25rem 0;
}
.hero-section .intro-copy {
  font-size: clamp(1.25rem, 2.5vw, 24px);
  font-weight: 600;
}

/* Main Content Section */
.copy-block-copy {
  font-size: 1.125rem;
  color: var(--fill-gray-tertiary);
}

/* Telescopes Section */

.telescopes-copy {
  column-gap: 5rem;
}

.telescopes-copy > div {
  flex: 1 1 41rem;
}

.hero-bgimage-wrapper {
  margin-bottom: 3rem;
}

.badge-container {
  margin-top: 3rem;
  gap: 3rem 6.875rem;
}

.badge-content {
  flex-direction: column;
}

.badge-content .badge-value {
  font-weight: bold;
  font-size: clamp(2.5rem, 5vw, 3.75rem);
}

.badge-content > .badge-caption {
  color: var(--fill-accent);
  font-weight: 600;
}

/* Hi-res Section */

.section-features {
  flex-direction: column;
  row-gap: 5rem;
}

.hires-imaging {
  flex-direction: row-reverse;
  gap: 3rem;
}

.hires-imaging .copy-block-feature {
  flex: 1 1 27.5rem;
}

.hires-imaging .picture-container {
  max-width: 25rem;
}

picture.sensors img {
  border-radius: 9999px;
}

@media (max-width: 734px) {
  picture.sensors img {
    border-radius: 0;
  }
}

/* Communication Networks Section */

.networks {
  gap: 3rem;
}

.networks .picture-container {
  max-width: 25rem;
}

.networks .copy-block-feature {
  flex: 1 1 27.5rem;
}

/* Navigation Section */

.navigation {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  margin-bottom: 5rem;
}

.navigation .picture-container {
  width: 100%;
}

.navigation .copy-block-feature {
  position: absolute;
  bottom: 4rem;
  max-width: 42ch;
}

.navigation #moon img {
  width: 100%;
  height: 100%;
}

@media (max-width: 734px) {
  .navigation .copy-block-feature {
    position: static;
  }
}

/* cta section */

.cta {
  width: 100%;
  text-align: center;
  background: #fff;
  color: var(--fill-gray);
  padding: 6.25rem 0;
}

.cta .typography-headline {
  font-weight: bold;
  font-size: clamp(3.25rem, 5vw, 5rem);
  margin: 0 auto;
  line-height: 1;
  margin: 1.5rem 0 2.5rem 0;
}

.cta .button-cta {
  margin: 3.75rem auto;
}

/* Footer */

footer {
  padding: 2.5rem 0;
  font-size: 0.875rem;
  background: var(--fill-secondary);
  color: var(--glyph-gray-secondary);
}

footer .footer-legal {
  padding-top: 1.25rem;
  border-top: 1px solid var(--fill-gray-quaternary);
}

footer ol {
  margin: 1.25rem 0;
  padding-left: 1rem;
}

/* Global */

.copy-block-headline,
.subsection-headline {
  margin-bottom: 1.25rem;
}

.picture-container {
  width: 100%;
  margin: 0 auto;
}
