* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  touch-action: manipulation;
}

html {
  font-size: clamp(14px, 1vw, 16px);
}

.container {
  max-width: 980px;
  margin: 0 auto;
  padding-left: clamp(1.5rem, 5%, 2.25rem);
  padding-right: clamp(1.5rem, 5%, 2.25rem);
}

@media only screen and (min-width: 735px) and (max-width: 1068px) {
  .container {
    padding: 0;
    max-width: 692px;
  }
}

img {
  width: 100%;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

main#main {
  padding-top: 3.75rem;
}

/* Text Color */

.text-black {
  color: var(--fill-gray);
}

.text-gray-tertiary {
  color: var(--fill-gray-tertiary);
}

.text-gray-secondary {
  color: var(--fill-gray-secondary);
}

.text-gray-quaternary {
  color: var(--fill-gray-quaternary);
}

.text-glyph-gray-tertiary {
  color: var(--glyph-gray-tertiary);
}

.text-glyph-gray-secondary {
  color: var(--glyph-gray-secondary);
}

.text-accent {
  color: var(--fill-accent);
}

/* Background Colors */

.bg-dark {
  background-color: var(--fill-bg);
  color: #fff;
}

/* Font Size */

.text-2xl {
  font-size: 1.75rem;
}

.text-xl {
  font-size: 1.3125rem;
}

.text-lg {
  font-size: 1.1875rem;
}

.text-sm {
  font-size: 0.875rem;
}

/* Font weight */

.font-bold {
  font-weight: 700;
}

.font-semibold {
  font-weight: 600;
}

.font-medium {
  font-weight: 500;
}

.font-regular {
  font-weight: 400;
}

.font-light {
  font-weight: 300;
}

/* base style */

button:hover,
a:hover {
  opacity: 0.9;
}

.button-cta {
  background: linear-gradient(270deg, #1655ba 0%, #9851c4 100%);
  padding: 1rem 2rem;
  border-radius: 9999px;
  font-weight: 600;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.625rem;
}
